<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization Code Flow</title>
</head>
<body>
    <main class="main">
        <div class="card">
            <div class="card_header">
                <h2 class="card_name"><%= user.name %></h2>
                <img src="<%= user.avatar %>" alt="user avatar">
            </div>
            <div class="card_body">
                <a href="<%= user.url %>" class="card_btn btn"></a>
                <div class="card_location"><%= user.location %></div>
            </div>
        </div>
    </main>
</body>
</html>